<table>
<tr>
<td>商家编号</td>
<td>商店名称</td>
<td>门店名称</td>
<td>所在地区</td>
<td>地址</td>
<td>状态</td>
<td>安装人</td>
<td>已安装路由</td>
<td>操作</td>
<td>备注</td>

</tr>

{% for busy in business %}
<tr>

<td>{{ busy.number }}</td>
<td>{{ busy.name }}</td>
<td>{{ busy.shopname }}</td>
<td>{{ busy.district }}</td>
<td>{{ busy.address }}</td>
</td>
<td>
<a href='/direct/{{busy.id}}'>指定安装人员</a>

</td>
<td>{{ busy.remarks }}</td>
<td>
<select>
{% for r in busy.routing_set.all %}
{% if r.condition == "installed" %}
<option>{{r}}</option>
{% endif %}
{% endfor%}
</select>
</td>
</tr>
{% endfor %}
</table>



